@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');
* {
    font-family: 'Diphylleia', serif;
}

html {
    height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(
        115deg,
        rgb(12, 70, 77) 10%,
        rgba(38, 2, 68, 1) 90%
    );
}
.outer-div {
    margin: auto;
    width: 70%;
    min-height: 95vh;
    max-width: 70rem;
}
.vertical-line {
    border-right: 2px solid cyan;
}

.date {
    font-size: 13px;
    margin-left: -6;
    margin-bottom: -1px !important;
}
@media (max-width: 500px) {
    .date {
        font-size: 0.6em; /* Adjust font size for smaller screens */
    }
}
